@font-face {
    font-family: 'Furever';
    src: url('Sweet Sensations Personal Use.ttf');
}

body{
  font-family: sans-serif;
}

img {
  margin: 5px;
}

nav {
  background-color: rgb(171, 216, 236);
  font-size: 20px;
}

.favs {
  background-color: rgba(0,0,0,0);
  border: 0px;
  }

.favs img {
  height: 20px;
  width: auto;
}

.petDis {
  width: 400px;
  height: auto;
  margin: 20px;
  padding: 30px;
  text-align: center;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: 2px;
  display: inline-block;
}

.findPet {
  text-align: center;
}

.favs {

}

header {
  background-color: rgb(171, 216, 236);
}

header h1 {
  font-family: 'Furever';
  font-size: 100px;
  margin-left: 25px;
  padding-top: 20px;
  color: black;
  text-align: center;
}

header h4 {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}
