<section class='container-fluid'>
<div class='findPet'>
  <h1>Find a Pet</h1>
    <select name='Animal Type' ng-model='petType' ng-init="petType = 'select'">
      <option value='select' ng-model='select' disabled>Select animal type:</option>
      <option ng-model='cat' value='cat'>Cats</option>
      <option ng-model='dog' value='dog'>Dogs</option>
    </select>
    <input type="text" placeholder='Zipcode' ng-model='zip'>
    <button class ='btn btn-info btn-sm' type="Submit" ng-click='getPet()'>Search</button>
  </div>
    <div class='petDis' ng-repeat= 'pet in pets'>
      <img height='auto' width='300px' class = '.img-responsive' ng-src="{{pet.media.photos.photo[7].$t}}"/>
          <p><strong>{{pet.name.$t}}</strong>
          <button type="button" ng-click='favorite(pet);' class="favs"><img src='assets/favourite-heart-icon.png'/>
        </button></p>
          <p>{{pet.age.$t}}</p>
          <p>Sex: {{pet.sex.$t}}</p>
          <p>Contact: {{pet.contact.email.$t}}</p>
          <div>
          <div ng-click='goPet = !goPet'  class="btn btn-default btn-sm">See More</div>
          <p ng-show='goPet'>{{pet.description.$t}}</p>
        </div>
    </div>
</section>
