<section class='container-fluid'>
  <h1>Login</h1>
    <form class="form">
    <div class="form-group">
      <label for="username">Username:</label>
      <input ng-model="username" type="text" name="username" id="username" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input ng-model="password" type="password" name="password" id="password" class="form-control"/>
    </div>
    <div>
      <input ng-click="login()" type="submit" value="Log In" class="btn btn-default"/>
      <button class="btn btn-default"><a href="#!/register">Register</a></button>
    </div>

  </form>

</section>
